<a href="https://colab.research.google.com/github/beth1nker8wr1ter/python_start/blob/main/python_step1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
 print("안녕하세요", end=' ')
 print("저는 홍길동입니다.")

안녕하세요 저는 홍길동입니다.

In [ ]:
# 컨트롤 + / : 설명충이 되겠노라 comment, 주석
# 입력 : 데이터를 가지고 와야함
# 처리 : 적절한 처리
# 출력 : 처리한 결과를 내보내는 일 (monitor, file, DB, network)

In [ ]:
name = input('이름을 입력하세요 >> ') #간단한 처리(기호를 씀) 연산 -> 연산자
# = : 대입연산자

이름을 입력하세요 >> 홍길동

In [ ]:
print(name)

홍길동

In [ ]:
name = input('이름을 입력하세요 >> ')
age = input('나이를 입력하세요 >> ')
school = input('학교를 입력하세요 >> ')

이름을 입력하세요 >> 이태준
나이를 입력하세요 >> 32
학교를 입력하세요 >> 홍익대학교

In [ ]:
print(name)
print(age)
print(school)

이태준
32
홍익대학교

In [ ]:
location = '신촌'

In [ ]:
number = 2

In [ ]:
height = 181.6

In [ ]:
food_lunch = True

In [ ]:
# java는 카멜표기법, Python은 스테이크표기법

In [ ]:
age2 = input('나이 입력 >> ') #100 
#컴퓨터에서 입력한 데이터는 타입을 무조건 스트링으로 인식!
# 스트링을 정수로 바꿔쓰는 결정(강제 캐스팅)은 프로그래머가 한다

print(int(age2) + 1)

나이 입력 >> 100
101

In [ ]:
# 두 수를 입력 받아서, 사칙연산을 해보세요

In [ ]:
n1 = input('1번 숫자 >> ')
n2 = input('2번 숫자 >> ')

1번 숫자 >> 3
2번 숫자 >> 7

In [ ]:
print('두 수의 합은', int(n1) + int(n2) )
print('두 수의 차는', int(n1) - int(n2) )
print('두 수의 곱은', int(n1) * int(n2))
print('두 수의 나눗셈은', int(n1) / int(n2))
print('두 수의 몫은', int(n1) // int(n2))
print('두 수의 나머지는', int(n1) % int(n2))

두 수의 합은 10
두 수의 차는 -4
두 수의 곱은 21
두 수의 나눗셈은 0.42857142857142855
두 수의 몫은 0
두 수의 나머지는 3

In [ ]:
n3 = int(input('숫자3 >> '))
n4 = int(input('숫자4 >> '))

숫자3 >> 14
숫자4 >> 5

In [ ]:
print('두 수의 합은', n3 + n4 )
print('두 수의 차는', n3 - n4 )
print('두 수의 곱은', n3 * n4)
print('두 수의 나눗셈은', n3 / n4)
print('두 수의 몫은', n3 // n4)
print('두 수의 나머지는', n3 % n4)

두 수의 합은 19
두 수의 차는 9
두 수의 곱은 70
두 수의 나눗셈은 2.8
두 수의 몫은 2
두 수의 나머지는 4

In [ ]:
me = '초코'
me2 = '우유'
print(me + me2) #문자열로 결합시켜라(결합연산자)

초코우유

In [ ]:
price = 1000
print(me + '가격은 ' + str(price) + ' 원')

초코가격은 1000 원

In [ ]:
#json {이름:홍길동, 나이:100, 소속:메가}

In [ ]:
coffee_price = int(input('커피 가격은 >>')) 
coffee_count = int(input('커피 인원수는 >>'))
sum = coffee_price * coffee_count #변수(저장공간, 저장공간이름 -> 변수명(variable))

커피 가격은 >>5000
커피 인원수는 >>5

In [ ]:
if sum >= 20000:
  print('20000원 이상입니다')
  print(sum - 2000, '원 결제하세요')
else :  
  print('20000원 미만입니다')
  print(sum, '원 결제하세요')

20000원 이상입니다
23000 원 결제하세요

In [ ]:
english = int(input('영어 점수입력 : '))
math = int(input('수학 점수입력 : '))
korean = int(input('국어 점수는 : '))

영어 점수입력 : 76
수학 점수입력 : 80
국어 점수는 : 60

In [ ]:
sum2 = english + math + korean
average2 = sum2 / 3

print('세 과목 점수의 합은', sum2 , '입니다')
print('세 과목의 평균 점수는' , int(average2), '입니다')

세 과목 점수의 합은 216 입니다
세 과목의 평균 점수는 72 입니다

In [ ]:
T1 = int(input('지금은 몇 시 입니까? >>'))

지금은 몇 시 입니까? >>12

In [ ]:
if T1 < 12 :
  print('점심 전입니다. 맛있게 드세요!')
else :
  print('점심후입니다')

점심후입니다

In [ ]:
principal = int(input('1년 만기 정기예금을 얼마나 예치하시겠습니까? >> '))
interest = principal*1/10

1년 만기 정기예금을 얼마나 예치하시겠습니까? >> 20000

In [ ]:
print('원금이', int(principal) , '원 이시군요')
print('이자는', int(interest) , '원입니다')
print('원리합계는', int(principal+interest), '원입니다')

원금이 20000 원 이시군요
이자는 2000 원입니다
원리합계는 22000 원입니다

In [ ]:
ID = input('원래 입력할 아이디는 >>')

원래 입력할 아이디는 >>root1

In [ ]:
if ID == 'root':
  print('로그인 되었습니다!')
else:
  print('로그인 되지 않았습니다')

로그인 되지 않았습니다

In [ ]:
sticker_price = int(input("스티커 가격은 >>"))
sticker_count = int(input("스티커 개수는 >>"))
bookmark_price = int(input("책갈피 가격은 >>"))
bookmark_count = int(input("책갈피 가격은 >>"))

스티커 가격은 >>1000
스티커 개수는 >>3
책갈피 가격은 >>2500
책갈피 가격은 >>4

In [ ]:
sum = (sticker_price*sticker_count)+(bookmark_price*bookmark_count)
premium = sum*0.1
print('내가 낸 금액은', sum-premium, '입니다')

내가 낸 금액은 11700.0 입니다